<div class="recipe-edit">
  <h1>{{ title }}</h1>
  <p *ngIf="this.id && !recipe"><em>Loading...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
      <mat-error *ngIf="form.invalid && form.hasError('isDuplicateRecipe')">
        <strong>Error: </strong>: A recipe with this title already exists.
        Please give your recipe a unique title.
      </mat-error>
    </p>
    <mat-form-field>
      <mat-label>Title:</mat-label>
      <input
        matInput
        formControlName="title"
        required
        placeholder="Your recipe title"
      />
      <mat-error *ngIf="this.form.controls['title'].errors?.['required']"
        >Title is required.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ingredients:</mat-label>
      <textarea
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        matInput
        formControlName="ingredients"
        required
        placeholder="Your recipe ingredients"
      ></textarea>
      <mat-error *ngIf="this.form.controls['ingredients'].errors?.['required']"
        >Ingredients are required.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Steps:</mat-label>
      <textarea
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        matInput
        formControlName="steps"
        required
        placeholder="Your recipe steps"
      ></textarea>
      <mat-error *ngIf="this.form.controls['steps'].errors?.['required']"
        >Steps are required.</mat-error
      >
    </mat-form-field>

    <mat-checkbox type="checkbox" formControlName="crockPot"
      >Does this recipe use a slow cooker?</mat-checkbox
    >

    <br /><br />
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
    >
      {{ this.id ? "Save" : "Create" }}
    </button>
    <button
      mat-flat-button
      color="secondary"
      type="submit"
      [routerLink]="['/recipes']"
    >
      Cancel
    </button>
  </form>
</div>
